<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.eshel.currencyspirit">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>
    <uses-sdk tools:overrideLibrary="com.lc.xinge,
                                     lc.com.wup,com.qq.mid,
                                     me.weyye.hipermission
                                     ,com.ogaclejapan.smarttablayout.utils"/>
    <application
        android:name=".CurrencySpiritApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:exported="true"
            android:name=".activity.SplashActivity"
            android:launchMode="singleTop"
            android:theme="@style/NoStateBarStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:exported="true"
            android:launchMode="singleTask"
            android:name=".activity.HomeActivity"/>
            <!--android:hardwareAccelerated="false"-->
        <activity
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundTranslucentTheme"
            android:name=".activity.EssenceDetailsActivity"/>
            <!--android:hardwareAccelerated="false"-->
        <activity
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundTranslucentTheme"
            android:name=".activity.CurrencyDetailsActivity"/>
        <activity
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundTranslucentTheme"
            android:name=".activity.EssenceHistoryActivity"/>
            <!--android:hardwareAccelerated="false"-->
        <activity
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundTranslucentTheme"
            android:name=".activity.WeiboDetailsActivity"/>
        <activity
            android:theme="@style/BackgroundTranslucentTheme"
            android:launchMode="singleTop"
            android:name=".activity.AboutActivity"/>
        <activity
            android:theme="@style/BackgroundTranslucentTheme"
            android:launchMode="singleTop"
            android:name=".activity.LookImageActivity"/>
        <activity
            android:name=".activity.OptionActivity"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundTranslucentTheme"/>
        <activity
            android:name=".activity.FeedbackActivity"
            android:launchMode="singleTop"
            android:theme="@style/BackgroundTranslucentTheme"/>
        <activity
            android:theme="@style/BackgroundTranslucentTheme"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateVisible|adjustResize"
            android:name=".activity.SearchCurrencyActivity"/>
        <activity
            android:name="com.tencent.smtt.sdk.VideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false"
            android:launchMode="singleTask"
            android:alwaysRetainTaskState="true">
            <intent-filter>
                <action android:name="com.tencent.smtt.tbs.video.PLAY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--ShareSDK-->
        <activity
            android:name="com.mob.tools.MobUIShell"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:windowSoftInputMode="stateHidden|adjustResize" >
            <!-- 调用新浪原生SDK，需要注册的回调activity -->
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.sharesdk.tencent.qq.ReceiveActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100371282" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />

        <!--信鸽推送-->
        <receiver android:name="xgpush.receiver.XGMessageReceiver"
                  android:exported="true">
            <intent-filter>
                <!-- 接收消息透传 -->
                <action android:name="com.tencent.android.tpush.action.PUSH_MESSAGE" />
                <!-- 监听注册、反注册、设置/删除标签、通知被点击等处理结果 -->
                <action android:name="com.tencent.android.tpush.action.FEEDBACK" />
            </intent-filter>
        </receiver>
        <provider
            android:name="com.tencent.mid.api.MidProvider"
            android:authorities="com.eshel.currencyspirit.TENCENT.MID.V3"
            android:exported="true" >
        </provider>
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.eshel.currencyspirit.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>
        <meta-data android:name="TA_APPKEY" android:value="AG69XWKJB64D"/>
        <meta-data android:name="InstallChannel" android:value="360"/>
        <meta-data android:name="Provider" android:value="com.eshel.currencyspirit.TENCENT.MID.V3"/>
        <meta-data android:name="Mob-AppKey" android:value="227be8f66a2ca"/>
        <meta-data android:name="Mob-AppSecret" android:value="709d6a966d34901ca7f358d4f71041cc"/>
    </application>
</manifest>